* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 80vmax;
  width: 50vw;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #eee;
  background: #fff;
}

.card {
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: beige;
  margin-top: 1em;
  display: flex;
}

.msg {
  margin-right: 1em;
}

#modal-btn {
  display: none;
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 15px;
  height: 15px;
  line-height: 15px;
}

.modal-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  transition: all linear 0.5s;
}

.modal-container.open {
  z-index: 1;
  opacity: 1;
}

.modal-body {
  background: #fff;
  border-radius: 10px;
  padding: 1.5em;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-btn {
  padding: 0.2em 1em;
  background-color: red;
  color: #fff;
}
