* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
}

.modal-body {
  border: 1px solid #ccc;
  box-shadow: 1px 0 5px 2px rgba(0, 0, 0, 0.8);
  padding: 1.5em;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
}
/*
.modal-body.show {
  display: block;
} */

.modal-btn {
  padding: 0.2em 1em;
  background-color: red;
  color: #fff;
}
